# Add any directories, files, or patterns you don't want to be tracked by version control

*.slo
*.sln
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.log
*.pdb
Binaries/
DerivedDataCache/
Intermediate/
Saved/
SpiderManProject/Saved/Logs/SpiderManProject.log
SpiderManProject/Config/DefaultEditor.ini
